.root {
  background: var(--color-bg-secondary);
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.root h4 {
  margin: 0;
}
.root a {
  width: 25px;
  height: 25px;
  margin: -10px -5px;
  display: block;
  background-size: contain;
}
.root a.open {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI1NiAyNTYiIGhlaWdodD0iMjU2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB3aWR0aD0iMjU2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yMDgsMTM0LjRINDhjLTMuNTM0LDAtNi40LTIuODY2LTYuNC02LjRzMi44NjYtNi40LDYuNC02LjRoMTYwYzMuNTM0LDAsNi40LDIuODY2LDYuNCw2LjRTMjExLjUzNCwxMzQuNCwyMDgsMTM0LjR6Ii8+PC9zdmc+");
}
.root a.minimized {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDk2IDk2IiBoZWlnaHQ9Ijk2cHgiIGlkPSJvcGVuIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5NiA5NiIgd2lkdGg9Ijk2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik04OCw0OGMtMi4yMDksMC00LDEuNzkxLTQsNHYyOGMwLDIuMjEtMS43OSw0LTQsNEgxNmMtMi4yMSwwLTQtMS43OS00LTRWMTZjMC0yLjIxLDEuNzktNCw0LTRoMjhjMi4yMDksMCw0LTEuNzkxLDQtNCAgcy0xLjc5MS00LTQtNEgxNkM5LjM3Myw0LDQsOS4zNzMsNCwxNnY2NGMwLDYuNjI3LDUuMzczLDEyLDEyLDEyaDY0YzYuNjI3LDAsMTItNS4zNzMsMTItMTJWNTJDOTIsNDkuNzkxLDkwLjIwOSw0OCw4OCw0OHoiLz48cGF0aCBkPSJNOTEuOTk2LDcuOTU4Yy0wLjAwMy0wLjI0OS0wLjAyNi0wLjQ5OC0wLjA3NS0wLjc0MkM5MS44OTgsNy4xMDQsOTEuODU2LDcsOTEuODI0LDYuODkxICBjLTAuMDQtMC4xNDItMC4wNzQtMC4yODUtMC4xMzEtMC40MjNjLTAuMDUtMC4xMjItMC4xMi0wLjIzMS0wLjE4Mi0wLjM0NmMtMC4wNjItMC4xMTUtMC4xMTMtMC4yMzQtMC4xODctMC4zNDQgIGMtMC4xMi0wLjE3OS0wLjI2MS0wLjM0Mi0wLjQwNy0wLjQ5OWMtMC4wMzItMC4wMzUtMC4wNTUtMC4wNzUtMC4wODktMC4xMDhjLTAuMDMxLTAuMDMxLTAuMDY3LTAuMDUxLTAuMS0wLjA4MSAgYy0wLjE1OS0wLjE1LTAuMzI2LTAuMjkzLTAuNTA5LTAuNDE2Yy0wLjEwOC0wLjA3Mi0wLjIyNi0wLjEyMy0wLjMzOS0wLjE4NGMtMC4xMTYtMC4wNjItMC4yMjgtMC4xMzMtMC4zNS0wLjE4NCAgYy0wLjEzOS0wLjA1OC0wLjI4My0wLjA5MS0wLjQyNy0wLjEzMmMtMC4xMDctMC4wMzEtMC4yMS0wLjA3My0wLjMyMS0wLjA5NUM4OC41MjUsNC4wMjcsODguMjYyLDQsODcuOTk5LDRINjQgIGMtMi4yMDksMC00LDEuNzkxLTQsNHMxLjc5MSw0LDQsNGgxNC4zNDNsLTMyLjc3LDMyLjc3Yy0xLjU2MiwxLjU2Mi0xLjU2Miw0LjA5NSwwLDUuNjU2YzEuNTYyLDEuNTYyLDQuMDk1LDEuNTYyLDUuNjU2LDAgIEw4NCwxNy42NTZWMzJjMCwyLjIwOSwxLjc5MSw0LDQsNHM0LTEuNzkxLDQtNFY4QzkyLDcuOTg2LDkxLjk5Niw3Ljk3Myw5MS45OTYsNy45NTh6Ii8+PC9zdmc+");
}
.root a:hover {
  opacity: var(--hover-opacity)
}
