.scope {
  --border-radius: 8px;
  --color: #118bee;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #68ba38;
  --color-text: #040802;
  --color-text-secondary: #999;
  --color-error: #cb2431;
  --hover-brightness: 1.2;
  --hover-opacity: 0.5;
  --line-height: 150%;
}

@media (prefers-color-scheme: dark) {
  .scope:not(.noDark) {
    --color-bg: hsl(100deg 60% 6%);
    --color-bg-secondary: #555;
    --color-secondary: #68ba38;
    --color-text: #fff;
    --color-text-secondary: #666;
    --color-error: #f44336;
  }
}

* {
  box-sizing: border-box;
}

.reset {
  composes: scope;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

.reset h1,
.reset h2,
.reset h3,
.reset h4,
.reset h5,
.reset h6 {
  line-height: var(--line-height);
}

.reset ol li,
.reset ul li {
  padding: 1.2rem 0;
}

.reset p {
  margin: 0.8rem 1.2rem 1.6rem;
  padding: 0;
  line-height: 24px;
}

.reset small {
  color: var(--color-text-secondary);
}

.reset a {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

.reset a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

.reset button {
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  margin: 1.5rem 0 0.5rem 0;
  padding: 0.4rem 2rem;
}

.reset button:hover:not(:disabled) {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

.reset button {
  background-color: hsl(98deg 54% 18%);
  border: 2px solid transparent;
  color: var(--color-bg);
  width: 100%;
  min-height: 52px;
  margin: 16px 0;
}
.reset button:disabled {
  cursor: default;
  background-color: var(--color-bg-secondary);
}

@media (prefers-color-scheme: dark) {
  .reset button {
    background-color: hsl(95deg 100% 85%);
    color: hsl(100deg 60% 6%);
  }
}

.reset form {
  display: flex;
  background: var(--color-secondary);
  background-image: url(../assets/images/print.svg);
  min-height: 160px;
  padding: 20px 24px;
  flex-direction: column;
}

.reset form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.reset form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 16px;
}

@media (prefers-color-scheme: dark) {
  .reset form p {
    color: #040802;
  }
}

.reset form h6 {
  margin: 4px 0;
  font-size: 32px;
}

.reset input,
.reset label,
.reset select,
.reset textarea {
  display: block;
  font-size: inherit;
}

.reset input,
.reset textarea {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  width: 100%;
  box-sizing: border-box;
  min-height: 52px;
}

.reset label {
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.reset ::-webkit-input-placeholder {
  font-size: 13px;
  opacity: 0.3;
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  .reset ::-webkit-input-placeholder {
    color: hsl(100deg 60% 6%);
  }
}

.reset input:focus,
.reset input:focus-within,
.reset input:active {
  outline: none;
  border: none;
}

.root {
  composes: reset;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: var(--border-radius);
  width: 400px;
  box-shadow: rgb(30 63 95 / 16%) 0px 5px 40px;
  box-sizing: border-box;
}

.root > div {
  border: none;
  border-radius: var(--border-radius);
}

.container {
  padding: 0;
  position: relative;
  max-height: 700px;
  min-height: 500px;
  overflow: auto;
}
.container.minimized {
  display: none;
}

@media screen and (max-width: 600px) {
  .root {
    position: fixed;
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    right: 10px;
    left: 10px;
  }
  .container {
    max-height: 400px;
  }
}
